
<%- include('partials/header'); %>

<div>
    <h1>BORROWED'S BOOKS LIST</h1>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-9">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID BOOK</th>
                        <th>TITLE</th>
                        <th>AUTHOR</th>
                        <th>ISBN</th>
                        <th>NAME</th>
                        <th>SURNAME</th>
                        <th>PHONE</th>
                        <th>DATE BORROWED</th>
                        <th>RETURN DATE</th>
                        <th>COMMENTS</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tboby>
                    <% if (data) { %>
                        <% for (var i=0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].id_borrow %></td>
                                <td><%= data[i].book_id %></td>
                                <td><%= data[i].title %></td>
                                <td><%= data[i].author %></td>
                                <td><%= data[i].isbn %></td>
                                <td><%= data[i].name_ %></td>
                                <td><%= data[i].surname %></td>
                                <td><%= data[i].PhoneNumber %></td>
                                <td><%= data[i].borrowDate.toDateString() %></td>
                                <td><% if (data[i].returnDate != null ) { %> 
                                    
                                    <%= data[i].borrowDate.toDateString() %>
                                
                                <% } %> 
                                </td> 
                                <td><%= data[i].comment %></td> 
             
                                <td> 
                                    <div class="d-flex justify-content-around p-2">
                                    <a href="/borrow/<%= data[i].id_borrow %>" " class="btn btn-success">RETURNED</a>
                                    </div>
                                <div class="d-flex justify-content-around p-2">
                                    <a href="borrow/deleteBorrow/<%= data[i].id_borrow %>"  class="btn btn-danger ">DELETE</a>
                                </div>
                                </td>                             
                            </tr>
                        <% } %>
                    <% } %>
                    
                                   

                </tboby> 
                       
            </table>
            

        </div>


<%- include('partials/footer'); %>
