<%- include('partials/header'); %>

<div>
    <h1>BORROWED BOOKS LIST</h1>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID BOOK</th>
                        <th>TITLE</th>
                        <th>ID READER</th>
                        <th>NAME</th>
                        <th>BORROW DATE</th>
                        <th>RETURN DATE</th>
                    </tr>
                </thead>
                <tboby>
                    <% if (data) { %>
                        <% for (var i=0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].book_id %></td>
                                <td><%= data[i].book_id %></td>
                                <td><%= data[i].reader_id %></td>
                                <td><%= data[i].reader_id %></td>
                                <td><%= data[i].borrowDate %></td>
                              
                            </tr>
                        <% } %>
                    <% } %>

                </tboby>
                            
            </table>
            

        </div>
<%- include('partials/footer'); %>
