<%- include('partials/header'); %>
<div>
    <h1>READERS' LIST</h1>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>SURNAME</th>
                        <th>E-MAIL</th>
                        <th>PHONE</th>
                    </tr>
                </thead>
                <tboby>
                    <% if (data) { %>
                        <% for (var i=0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].id_reader %></td>
                                <td><%= data[i].name_ %></td>
                                <td><%= data[i].surname %></td>
                                <td><%= data[i].Email %></td>
                                <td><%= data[i].PhoneNumber %></td>
                                <td>
                                    <a href="reader/deleteReader/<%= data[i].id_reader %>" class="btn btn-danger">Delete</a>
                                
                                    <a href="reader/editReader/<%= data[i].id_reader %>" class="btn btn-dark">Edit</a>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tboby>
            </table>
        </div>

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="/reader" method="POST">

                        <div class="form-group p-2">
                            <% if (locals.errors){
                                errors.forEach(error => { %>
                                <p><%= error.msg %> </p>
                            <%
                                })
                            } %>
                            <input type="text" name="name_" placeholder="Name" value="<%= locals.old && old.name_ ? old.name_ : '' %>" autofocus class="form-control">
                        </div>

                        <div class="form-group p-2">
                            <input type="text" name="surname" placeholder="Surname" value="<%= locals.old && old.surname ? old.surname : '' %>"class="form-control">
                        </div>

                        <div class="form-group p-2">
                            <input type="text" name="Email" placeholder="Email" value="<%= locals.old && old.Email ? old.Email : '' %>"class="form-control">
                        </div>

                        <div class="form-group p-2">
                            <input type="text" name="PhoneNumber" placeholder="Phone" value="<%= locals.old && old.PhoneNumber ? old.PhoneNumber : '' %>"class="form-control">
                        </div>

                        <button type="submit" class="btn btn-primary">
                            Save Reader
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('partials/footer'); %>
